h1{
  color: blueviolet;
  font-style:italic;
  font-size: 2em;
  font-family:serif;
  }
h3{
  color: blueviolet;
}
p{
  font-family: arial;
  font-size: 1em;
  color: #F8F8FF;
}
li{
  color:#F8F8FF;
}

body {
background-color: #000000;
}

table, th, td {
  border: 1px solid white;
  border-color: #F8F8FF;
  border-collapse: collapse;
  color: #F8F8FF;
}
h3:hover {
  width: 300px;
}