h1{
  color: blueviolet;
  font-style:italic;
  font-size: 2em;
  font-family:serif;
  }
h3{
  color: #8B008B;
}
p{
  font-family: arial;
  font-size: 1em;
  color: #F8F8FF;
}
li{
  color:#9370DB;
}

body {
background-color: #000000;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
a:hover {
  background-color: #808080;
}


.chicken:hover {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
from {
transform: rotate(0deg);
}
to {
transform: rotate(359deg);
}
}